<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top bg-light">
    <div class="col d-flex justify-content-center align-items-center">
    <span class="mb-3 mb-md-0 text-body-secondary">&copy; 2024 Martin Nalepa</span>
    </div>
</footer>
