{% extends "base.html.twig" %}
{% block title %}{{ pageTitle }}{% endblock %}
{% block body %}
    <h1>{{ pageTitle }}</h1>
    <div class="card-deck">
        {% for card in deck %}
            <div class="play-card">
                {{ card }}
            </div>
        {% endfor %}
    </div>
{% endblock %}