/* CSS for the report page */

/* Override max container widht */
@media (min-width: 1400px) {
    .container {
      max-width: 1200px;
    }
  }

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
  
  main {
    flex-grow: 1;
}

.max-img-size {
    max-width: 300px;
}

.card-deck {
    display: flex;
    flex-wrap: wrap;
}

.play-card {
    font-size: 5rem;
    display: inline-flex;
    color: black;
}

.card-area {
    border: 1px solid black;
    min-height: 15vh;
    width: 95%;
    margin: 1% auto;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blackjack-table {
    background-color: green;
    color: white;
    padding: 2%;
    border-radius: 10px;
}