<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="d-flex flex-column min-vh-100">
        {% block header %}
            {% include 'partials/header.html.twig' %}
        {% endblock %}
        <main class="flex-grow-1 mt-5">
            <div class="container">
                {% block body %}{% endblock %}
            </div>
        </main>
        {% block footer %}
            {% include 'partials/footer.html.twig' %}
        {% endblock %}
    </body>
</html>
